@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

@layer base {
  * {
    @apply border-white/10;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
